* {
  margin: 0;
  padding: 0;
}
.btn {
  display: inline-block;
  width: 92px;
  height: 40px;
  border-radius: 6px;
  border: 2px solid #23926f;
  color: #23926f;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.btn-danger {
  float: right;
  background: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2),
    0 1px 2px rgba(0, 0, 0, 0.05);
}
.active {
  background-color: #23926f;
  color: white
}